* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    margin-left: 150px;
}

form {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    align-items: center;
}

input {
    height: 25px;
}

select {
    height: 25px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group-inline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group-inline .form-group {
    width: 48%;
}

.form-group label {
    width: 150px;
    text-align: right;
    margin-right: 20px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="password"],
.form-group input[type="date"],
.form-group select {
    flex: 1;
    border: 1px solid #85929e;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.checkbox-group div {
    width: calc(100% / 7);
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-group input {
    width: auto;
    margin-right: 8px;
    margin-bottom: 10px;
}

.button {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.confirmar {
    cursor: pointer;
    margin-right: 15px;
}

.retornar {
    cursor: pointer;
    margin-right: 15px;
}
